<html>
<title>Paul Le Henaff - Portfolio</title>
<head>
	{% load staticfiles %}
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/theme.css' %}" rel="stylesheet"/>
</head>
<body>

{% url 'some_urlpattern_name' as url %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
        <div class="nametag">
        Paul Le Henaff
        </div>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% url 'threedee' as threedee%}
          <li class="{% if request.path == threedee %}active{% endif %}"><a href="{{threedee}}">Gallery</a></li>
          {% url 'skills' as skills%}
          <li class="{% if request.path == skills %}active{% endif %}"><a href="{{skills}}">Skills</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">paullehenaff@msn.com</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<div class="container-fluid">
	{% block content %}
	{% endblock %}   
</div>
    
<script src="{% static 'js/jquery-1.10.2.min.js' %}" rel="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" rel="text/javascript"></script>
<script src="{% static 'js/custom.js' %}" rel="text/javascript"></script>
</body>
</html>
