{% extends 'base.html' %}
{% block content %}
{% load app_extras %}
<h1>About</h1>
<div class="row">
	<div class="col-md-6">
	<p>
		My name is Paul Le Henaff. I love the CG arts and spend most of my time working on videos game assets, still renders and animations.
	</p>
	<p>
		I have used blender for a number of years and am very comfortable with it. Today it's my software of choice for modelling. In the past I have used XSI and 3DS Max but switched to Blender as at the time it could do a lot more than the others and has a great community (and it's free!).
	</p>
	<p>
		Currently my main focus is making Physically Based Rendering (PBR) ready assets for UE4.
	</p>
	<p>
		I have a number of years of experience working as part of indie teams. I started when I was 12, learning about mods in Half Life 2 and Grand Theft Auto 3. I quickly leared to use Photoshop and XSI Mod tool to create new assets and added them to the game.
	</p>
	<p>
		Then, I learned about XNA Game Studio. It was an SDK which allowed independantly developers to create and publish games through the XBox Live Arcade marketplace. I joined a small indie team as a 2D artist and created all the sprite assets and animations for our sidescroller platformers and space shooter games.
	</p>
	<p>
		These days, I'm the Art Lead for the Druid Gameworks indie studio. We are working on an open world RPG built in UE4.
	</p>
	 <a href="https://github.com/gordon13?tab=repositories">https://github.com/gordon13?tab=repositories</a>
	</div>

	 
</div>

{% endblock %}