{% extends 'base.html' %}
{% block content %}
{% load app_extras %}
<div class="jumbotron">
	<h1>Starter page<h1>
	<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
	<p>
		<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
	</p>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-success">
			<!-- Default panel contents -->
			<div class="panel-heading"><b>Panel</b></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<!-- Default panel contents -->
			<div class="panel-heading"><b>Panel 2</b></div>
		</div>
	</div>
</div>

{% endblock %}