{% extends 'base.html' %}
{% block content %}
{% load app_extras %}

	<h1>Software proficiency</h1>
	<div class="skills-software">
		{% for ware in software %}

			<div class="row software">
				<img src="{{ware.image.url}}" alt="{{ware.name}}" title="{{ware.name}}" />
				<span>{{ware.name}}</span>
				<div class="progress">
					<div class="progress-bar progress-bar-warning" role="progressbar" style="width:{% to_percent ware.level %}%" title="{{ware.level|to_int}}/10">
						{{ware.level|to_int}}/10
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<h1>Skill areas</h1>
	<div class="skills-art">
		{% for skill in skills_obj %}
		<div class="row skill">
			<span>{{skill.name}}</span>
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" style="width:{% to_percent skill.level %}%" title="{{skill.level|to_int}}/10">
					{{skill.level|to_int}}/10
				</div>
			</div>
		</div>
		{% endfor %}
	</div>


{% endblock %}